{% include "../header.html" %}


<h1>{{ book_id.name }}</h1>
<p>Автор - {{ book_id.author_name }}</p>
<img src="{{ book_id.image.url }}" width="250" height="350" alt="Обложка книги">
<data>Вышла в {{ book_id.data_release }}</data>
<p>{{ book_id.short_description }}</p>
<a href="{{ book_id.summary.url }}" download>Скачать книгу</a>
<a href="{{ book_id.wiki }}">Перейти на вики</a>
<data>Пост добавлен - {{ book_id.created_at }}</data>

<ul>
    {% for review in book_id.review_employees.all %}
    <li>
        <h1>{{ review.text }}</h1>
        <p>Оценка: {{ review.mark }}</p>
    </li>
    {% endfor %}
</ul>
<br><br><br><br><br><br><br><br>
{% include "../footer.html" %}